
  <div class="row mt-4">
    <div class="col-sm-2 text-end">
      <%= link_to 'New Task', new_todo_path, class: "btn btn-outline-success" %>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-12">
      <table class="table table-hover">
          <thead>
          <tr>
            <th scope="col">Task</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% @tasks.each do |task| %>
            <tr>
              <td class="<%= 'add-class-text-decoration' if task.complete  %> text-normaly"><%= task.task %></td>
              <td><%= link_to (task.complete ? 'Incomplete': 'Complete'),change_path({id:task.id, task: task.task , complete:!task.complete}), class: 'btn btn-outline-primary' %></td>
              <td><%= link_to 'View', todo_path(task), class:"btn btn-success " %>
                  <%= link_to 'Edit', edit_todo_path(task), class:"btn btn-info " %>
                  <%= link_to 'Delete', todo_path(task), data:{turbo_method: :delete, turbo_confirm: 'Are you sure?'},
                                                        class:"btn btn-danger " %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
